/KsChikshinskaya/ServerParser.py
/PortalParser/serverParserMain.spec
/PortalParser/settings.json
/PortalParser/siteData.xlsx
/PortalParser/siteData_1.xlsx
/venv/
/ChartSokol.spec
/checkClass.py
/Convert.spec
/functions.py
/output1.html
/pdf1.pdf
/pdf1_1.pdf
/RdInfo.xlsx
/serverParser.spec
/serverParserMain.spec
/Sokol.spec
/test1.py
/test2.py
/test3.py
/testfile.log
/WorkingLogin.py
/.idea
/build/
/dist/
/CsvParser/
/ExcelTreeProcesser/
/GlbConverter/
/SvgParser/
